$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Arial';


$background-color: #D7D7D7;
$deep-gray-color: #E5E5E5;
$gray-color: #B9B9B9;
$bg-light-color: #F5F5F5;
$blue-light-color: #EAF0FA;
$blue-color: #5763B3;
$button-blue-color: #7284E4;
$yellow-color: #FF9900;
$yellow-light-color: #FFF0CD;
$green-color: #55BB06;
$deep-dark-color: #202123;
$text-color: #202123;

$border-radius: .4rem;
